{% extends 'teacher/Tbase.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetPassword</title>
    <style>
        table{
            border : 2px solid black;
            font-size: 25px;
            margin-top: 10%;
            margin-left: 35%;

        }
        th{
            padding : 20px;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <th colspan="2"> Reset-Password</th>
            </tr>
            <tr>
                <th> username</th>
                <th>  {{data.Name}}</th>
            </tr>
            <tr>
                <th>Old-Password</th>
                <th> <input type="password" name = "oldpassword"></th>
            </tr>
            <tr>
                <th>New-Password</th>
                <th> <input type="password" name = "newpassword"></th>
            </tr>
            <tr>
                <th>Re-Password</th>
                <th> <input type="password" name = "repassword"></th>
            </tr>
            <tr>
                <th colspan="2"><button style="font-size: 20px;">Submit</button></th>
            </tr>
        </table>
    </form>
</body>
</html>
{% endblock %}